.c-date-picker {
  margin-bottom: 8px;
  font-family: 'Inter UI', sans-serif;
  position: relative; }
  .c-date-picker * {
    box-sizing: border-box; }
  .c-date-picker__display {
    padding: 10px 14px;
    cursor: text; }
  .c-date-picker__drop-down {
    border: 1px solid #bdbdbd;
    width: 286px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 0;
    display: none;
    z-index: 2; }
  .c-date-picker__display:focus + .c-date-picker__drop-down {
    display: block; }
  .c-date-picker--focused > .c-date-picker__drop-down {
    display: block; }
  .c-date-picker--focused > .c-date-picker__overlay {
    display: block; }
  .c-date-picker__year-wrapper {
    padding: 10px;
    -ms-flex-pack: center;
        justify-content: center;
    display: -ms-flexbox;
    display: flex; }
    .c-date-picker__year-wrapper span {
      padding: 4px 10px;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      cursor: pointer; }
      .c-date-picker__year-wrapper span:hover {
        background-color: whitesmoke; }
    .c-date-picker__year-wrapper input {
      border: 1px solid #BDBDBD;
      padding: 5px 10px;
      width: 100px;
      height: auto;
      text-align: center;
      background-color: #F2F2F2;
      box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25); }
  .c-date-picker__month-wrapper {
    margin: 0;
    padding: 5px 10px;
    background-color: #364350;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .c-date-picker__month {
    margin: 5px 0;
    border: 1px solid transparent;
    width: calc(calc(100% / 6) - 5px);
    text-align: center;
    background-color: #93A0AE;
    border-radius: 4px;
    cursor: pointer; }
    .c-date-picker__month.disabled {
      background-color: #5C6772;
      cursor: not-allowed; }
      .c-date-picker__month.disabled:focus, .c-date-picker__month.disabled:hover {
        border-color: transparent; }
    .c-date-picker__month.active {
      background-color: white; }
    .c-date-picker__month.active:focus, .c-date-picker__month.active.focus {
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5); }
    .c-date-picker__month.focus, .c-date-picker__month:focus, .c-date-picker__month:hover {
      border-color: #ffffff; }
  .c-date-picker__week-wrapper {
    margin: 2px;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start; }
  .c-date-picker__date {
    padding: 3px;
    width: calc(100% / 7);
    text-align: center;
    border-radius: 2px;
    cursor: pointer; }
    .c-date-picker__date.focus, .c-date-picker__date:focus, .c-date-picker__date:hover {
      background-color: #ECF0F2; }
    .c-date-picker__date.empty, .c-date-picker__date.disabled {
      opacity: 0.5;
      cursor: not-allowed; }
      .c-date-picker__date.empty:hover, .c-date-picker__date.empty:focus, .c-date-picker__date.disabled:hover, .c-date-picker__date.disabled:focus {
        background-color: transparent; }
    .c-date-picker__date.empty {
      cursor: default; }
    .c-date-picker__date.active {
      background-color: #D4E7F1; }
  .c-date-picker__time-wrapper {
    padding: 5px 10px;
    text-align: center;
    background-color: #364350; }
    .c-date-picker__time-wrapper > div {
      margin: 0 auto;
      display: inline-block; }
  .c-date-picker__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: none; }
